<!DOCTYPE html>
<html lang="en-us">
   <head>
      <meta charset="utf-8">
      <title>DBS 2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="./style/style.css">
   </head>
   <body>
      <div class="container" ng-app="mymodal">
<div id="pageHeader" ng-controller="MainCtrl" class="container">
  <button ng-click="toggleModal('signup')" class="btn btn-default pull-right">Sign Up</button>
  <button ng-click="toggleModal('signin')" class="btn btn-default pull-right">Sign In</button>
  <modal visible="showSignUpModal">
      <form>
  <div class="form-group">
    <label for="username">User name:</label>
    <input type="text" class="form-control" id="username" ng-model="userInfo.username">
  </div>
  <div class="form-group">
    <label for="hometown">Home Town:</label>
    <input type="text" class="form-control" id="hometown" ng-model="userInfo.hometown">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" ng-model="userInfo.email">
  </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" ng-model="userInfo.pwd">
  </div>

    <div class="form-group">
    <label for="confirmPwd">Confirm Password:</label>
    <input type="password" class="form-control" id="confirmPwd" ng-model="userInfo.confirmPwd">
  </div>

  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default" ng-click="submit('signUp')">Submit</button>
</form>
  </modal>

   <modal visible="showSignInModal">
      <form>
  <div class="form-group">
    <label for="username">User name:</label>
    <input type="text" class="form-control" id="username" ng-model="userInfo.username">
  </div>



  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" ng-model="userInfo.pwd">
  </div>



  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default"  ng-click="submit('signIn')">Submit</button>
</form>
  </modal>
</div>
      </div>
      <script src="./node_modules/angular/angular.min.js"></script>
      <script src="./script/script.js"></script>
   </body>
</html>
